.biggest-circle {
background-color: rgb(241, 234, 234);
width: 800px;
height: 800px;
left: 700px;
bottom: 10px;
}

.middle-circle {
margin-top: 10px;
width: 500px;
height: 500px;
background-color: rgb(241, 234, 234);
left: -300px;
}

/* third part shapes */
.middle-quad {
width: 60vw;
height: 60vh;
background-color: rgb(241, 234, 234);
left: 3vw;
}



.biggest-circle-2 {
background-color: rgb(241, 234, 234);
width: 800px;
height: 800px;
left: 200px;
top: -30px;
border-radius: 100%;
}

